
<footer class="footer" id="footer">
    <div fxLayout="center center">
      <!--<div class="col-md-4 mb-5 mb-lg-0">
        <h4 >Location</h4>
        <p >2215 John Daniel Drive
          <br>Clark, MO 65243</p>
      </div>-->
      <div fxFlex></div>
      <div fxFlex="60" class="container text-center">
        <h4 class="text-uppercase mb-4">About This Website</h4>
        <p class="lead mb-0">This website is free to use. The records are obtained directly from the Justice Precincts of Bexar County. Records are updated on a weekly basis.</p>
      </div>
      <div fxFlex></div>
    </div>
</footer>

<div class="copyright py-4 text-center text-white">
  <div class="container">
    <small>Copyright &copy; Eviction Search Bexar County 2018</small>
  </div>
</div>
