<md-sidenav-container >
<md-toolbar color="primary" >
  <md-toolbar-row>
    <span class="example-spacer"></span>
    <section class="mat-typography" >
      <h1 class="mat-display-3 eviction-header" >Eviction Search Bexar County</h1>
    </section>
  </md-toolbar-row>
  <md-toolbar-row>
    <span class="example-spacer"></span>
    <section class="mat-typography">
      <h2 class="mat-display-1 eviction-header">All 6 JP's</h2>
    </section>
  </md-toolbar-row>

</md-toolbar>
</md-sidenav-container>
  <div class="m-t-1">
    <router-outlet></router-outlet>
  </div>


