<div id="search">
    <h3 class="example-h2">Search by Name:</h3>
    <div >
      <form class="example-container" [formGroup]="userForm">
        <mat-form-field>
          <input formControlName="inputFirstName" matInput placeholder="First Name" required>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="inputLastName" matInput placeholder="Last Name" required>
        </mat-form-field>
        <mat-checkbox formControlName="soundexCheck">Search for names that sound the same</mat-checkbox>
        <button
          mat-button color="primary"
          type="submit"
          (click)="onSubmit()"
          [disabled]="!userForm.valid">Submit</button>
        <mat-progress-bar mode="indeterminate" *ngIf="submitted"></mat-progress-bar>
      </form>
    </div>
  </div>

