@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
.example-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#search{
  padding: 100px 0px 0px 0px;
}

/* Structure */
.mat-table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 550px;
}

.cdk-column-defendantZip {
  max-width: 5em;
}
.cdk-column-combinedDefendantName {

}

.cdk-column-combinedDefAddress {

}

.cdk-column-plaintiffName {
  min-width: 20em;
}
.cdk-column-caseFileDate {
  margin-left: 2em;
}
